/* --- CSS RESET start --- */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	box-sizing: border-box;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --- CSS RESET end --- */

body {
	display: flex;
	padding: 2% 10% 5% 10%;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	font-family: sans-serif;
}

.header {
	height: 55px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid rgba(70, 163, 88, 0.5);
}

.header__navigation {
	display: inherit;
	justify-content: center;
	gap: 40px;
	width: 350px;
	height: 100%;
}

.header__navigation__tab + div {
	width: auto;
}

.header__navigation__tab {
	border-bottom: 2px solid;
	border-color: #46a358;
}
.header__loginButton {
	display: flex;
	align-items: center;
}
.header__loginButton > button {
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 8px 20px;
	border: none;
	border-radius: 6px;
	background-color: #46a358;
	color: white;
}

.main {
	background-color: #f5f5f580;
	display: flex;
	flex-direction: row;
}
